.main {
  width: 100%;
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0;
  margin: 0;
}

.logo {
  display: block;
  width: 38px;
  height: 38px;
  padding: 0 44px 0 0;
  margin: 0;
  background-image: url('../../images/logo.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto;
}

.header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 18px 30px;
  margin: 0;
}

.navigation {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-links_type_menu {
  gap: 16px;
}

.navigation-links_type_profile {
  gap: 30px;
}

.navigation-link {
  padding: 0;
  margin: 0;
  color: black;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.navigation-links_type_menu .navigation-link {
  font-size: 13px;
}

.navigation-link_inactive {
  font-weight: 400;
}

.navigation-link_type_login {
  padding: 8px 20px;
  border-radius: 3px;
}

.navigation-link_type_account {
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
}

.navigation-link_type_burger {
  width: 44px;
  height: 44px;
  background-image: url('../../images/burger.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

/* cover */

.cover {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 20px 0 0;
  margin: 0;
}

.cover__container {
  display: flex;
  width: 100%;
  height: 493px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  border-radius: 10px;
  margin: 0;
  background-color: #f5f5f5;
}

.cover__text {
  display: inline-block;
  width: 70%;
  padding: 0;
  margin: auto;
  color: black;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
}

.cover__buttons {
  display: flex;
  gap: 10px;
}

.cover__button {
  width: 96px;
  height: 36px;
  border-radius: 10px;
  color: black;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (max-width: 1239px) {
  .cover {
    padding: 20px 20px 0;
  }

  .cover__container {
    height: 834px;
  }

  .cover__text {
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (max-width: 879px) {
  .cover__text {
    width: 100%;
    box-sizing: border-box;
    padding: 0 24px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    padding: 14px 18px;
  }

  .cover {
    padding: 14px 14px 0;
  }

  .cover__container {
    height: 586px;
  }

  .cover__text {
    padding: 0 10px;
    font-size: 29px;
    line-height: 37px;
  }

  .cover__buttons {
    gap: 6px;
  }

  .cover__button {
    width: 82px;
    height: 26px;
    border-radius: 6px;
    font-size: 10px;
  }
}
